<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/fetch/2.0.4/fetch.js"></script>

</head>
<body>
{% verbatim myblock %}
    <div id="app">
        {{ info }}<br>
        {{ number }}<br>
        <button @click="add">add</button>
        <input v-model="text">
        {{ text }}<br>
        {{ test() }}
        <ul>
            <li v-for="value in firut">{{ value }}</li>
        </ul>
        firut: {{ firut }}<br>

        firstName: <input v-model="firstName"><br>
        lastName: <input v-model="lastName"><br>
        fullNameComputed: {{ fullNameComputed }}<br>
        fullNameMethod: {{ fullNameMethod() }}<br>
        fullNameWatch: {{ fullNameWatch }}<br>

        key: <input v-model="key"><br>
        results:
        <ul>
            <li v-for="item in results" :key="item">{{ item }}</li>
        </ul>

    </div>
{% endverbatim myblock %}
<script>
    var app = new Vue({
        el: "#app",
        data: {
            info: "this the first vue app",
            number: 11,
            text: "text123",
            firut: [],
            firstName: "",
            lastName: "",
            fullNameWatch: "",
            key: "",
            results: [],
        },
        methods: {
            add: function () {
                this.number = this.number + 1;

            },
            test() {
                return "Hi"
            },
            fullNameMethod(){
                return this.firstName + this.lastName;
            },
            search(){
                fetch("/search/", {
                    method: "POST",
                    body: JSON.stringify({key: app.key}),
                }).then(function (respone) {
                    console.log(app.key)
                    return respone.json()
                }).then(function (json) {
                    app.results = json
                })
            }

        },
        created: function () {
            fetch("/get/array", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                mode: "cors",
                credentials: "include",
                body: JSON.stringify({
                    content: "这里是body体"
                })
            }).then(function (respone) {
                return respone.json();
            }).then(function (json){
                console.log(json)
                app.firut = json
            })
        },
        computed: {
            fullNameComputed: function () {
                return this.firstName + this.lastName;
            }

        },
        watch: {
            firstName: function(value){
                this.fullNameWatch = value+this.lastName
            },
            lastName: function(value){
                this.fullNameWatch = this.firstName+value
            },

            key: function (val) {
                app.search()

            }

        }
    });
</script>
</body>
</html>